<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="HealthcareAppDataEntities" connectionString="metadata=res://*/Models.HealthcareModel.csdl|res://*/Models.HealthcareModel.ssdl|res://*/Models.HealthcareModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OO3LN8V;initial catalog=HealthcareAppData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HealthcareAppDataEntities1" connectionString="metadata=res://*/Models.HealthcareModel.csdl|res://*/Models.HealthcareModel.ssdl|res://*/Models.HealthcareModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OO3LN8V;initial catalog=HealthcareAppData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
